<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apollo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ApolloMicro (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ApolloMicro (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ApolloMicro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ApolloMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ApolloX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AppoloService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D869C5081DB7BBF100E1C072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F2D12C1DB65EA400BDB634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F2D1401DB65EA400BDB634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F2D14B1DB65EA400BDB634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F2D1621DB662F700BDB634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F2D1721DB6637A00BDB634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F2D18A1DB664BF00BDB634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F2D19A1DB664BF00BDB634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F2D1A51DB664BF00BDB634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
