<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apollo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ApolloIOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ApolloM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ApolloMicro (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ApolloMicro (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ApolloMicro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ApolloMonitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ApolloPickaxe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ApolloX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AppoloService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D869C5081DB7BBF100E1C072</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D869C5351DB7BDE400E1C072</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D869C5521DB7D54200E1C072</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D869C55A1DB7D54300E1C072</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D869C5751DB7D5E600E1C072</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D869C57D1DB7D5E600E1C072</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D8F2D12C1DB65EA400BDB634</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D8F2D1401DB65EA400BDB634</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D8F2D14B1DB65EA400BDB634</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D8F2D1621DB662F700BDB634</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D8F2D1721DB6637A00BDB634</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D8F2D18A1DB664BF00BDB634</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D8F2D19A1DB664BF00BDB634</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>D8F2D1A51DB664BF00BDB634</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
